body,
html {
  font-family: "Noto Sans", sans-serif;
  display: table;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  min-height: 100%;
  position: relative;
  font-size: 18px;
}

footer {
  margin-top:calc(5% + 60px);
  bottom: 0;
  box-sizing: border-box;
  height: 100px;
  border-top: 1px solid #e0e0e0;
  padding-top: 35px;
}

.content *{
  padding: 20px;
}

.content-papers *{
  margin-top: 30px;
}

.paper-p {
  font-size: 15px;
}

#group-image{
  height: 500px;
}